$mobile-only: "only screen and (max-width : 768px)";

#footer {
  position: relative;
  padding: 10px;
  height: 25px;
  letter-spacing: 1px;
  text-align: center;
  background-color:#418EB9;

  a {
    font-weight: bold;
    color:#fff;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
  p{
    color:#fff;
    margin:0;
  }

  @media #{$mobile-only} {
    display: none;
  }
}
.item-laptop, .item-mobile{
  position: relative;
}